<server description="Jakarta Cafe Liberty server">
  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>jsonp-1.1</feature>
    <feature>cdi-2.0</feature>
    <feature>mpConfig-2.0</feature>
    <feature>jpa-2.2</feature>
  </featureManager>

  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>

  <webApplication location="jakartaee-cafe.war" contextRoot="/"/>
  <mpMetrics authentication="false"/>
  <logging traceSpecification="org.eclipse.jakarta.cafe.*=all"/>

  <httpEndpoint host="*" httpPort="${default.http.port}"
    httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

  <!-- Derby Library Configuration -->
  <library id="derbyJDBCLib">
    <fileset dir="${shared.resource.dir}/" includes="derby*.jar"/>
  </library>

  <!-- Datasource Configuration -->
  <dataSource jndiName="jdbc/JakartaEECafeDB">
    <jdbcDriver libraryRef="derbyJDBCLib" />
    <properties.derby.embedded databaseName="jakartaee-cafe-data" createDatabase="create"/>
  </dataSource>

</server>
